.output{
  .output__item{
    margin: $size-small $reset;
    display: flex;
    color: #fff;
    .output__item--text{
      text-align: left;
      padding: $size-small;
      .output__item--text-multiline{
        display: inline;
        background: #fff;
        box-shadow: 10px 0 0  #fff, -10px 0 0  #fff;
        //@see https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break
        -webkit-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        box-decoration-break: clone; color:#000;
      }
    }
    &.output__bg__resize{
      background-repeat: no-repeat;
      min-height:50.5em;
      background-size:cover;
      background-position:-20em;
      &.output__bg__resize-side{
        background-position: initial;
        min-height:25em;
      }

      //below 768px
      @media(max-width:48em){
        background-position:-50em;
      }
    }

  }
}
